* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: #10161b;
  font-family: "Poppins", sans-serif;
}

.outerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  flex-direction: row;
}

@media (max-width: 600px) {
  .outerContainer {
    flex-direction: column;
    gap: 0.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .outerContainer {
    flex-direction: column;
    gap: 0.5rem;
  }
}
