.forgotPasswordInnerContainer {
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #e3dede;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
}

.emialInputField {
  position: relative;
  width: 350px;
  margin: 1rem;
}

.emialInputField input {
  width: 100%;
  padding: 12px 10px;
  font-size: 1rem;
  border: 2px solid #fdd133;
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: aliceblue;
}

.emialInputField label {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #d7d1d1;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
}

.emialInputField input:focus + label,
.emialInputField input:valid + label {
  top: -10px;
  left: 8px;
  font-size: 16px;
  color: #d7d1d1;
  background: #10161b;
  padding: 0 4px;
}

.resetPassButton,
.backToLoginButton {
  background-color: #fbd033;
  color: #10161b;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.backToLoginButton i {
  width: 30px;
}

@media (max-width: 600px) {
  .title {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem;
  }
  .emialInputField {
    position: relative;
    width: 250px;
    margin: 8px;
  }

  .emialInputField input {
    width: 100%;
    font-size: 12px;
  }

  .emialInputField label {
    font-size: 12px;
  }

  .emialInputField input:focus + label,
  .emialInputField input:valid + label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 4px;
  }

  .resetPassButton,
  .backToLoginButton {
    width: 250px;
    font-size: 0.9rem;
  }

  .backToLoginButton i {
    width: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .title {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0.5rem;
  }

  .emialInputField {
    position: relative;
    width: 18.75rem;
    margin: 8px;
  }

  .emialInputField input {
    width: 100%;
    font-size: 12px;
  }

  .emialInputField label {
    font-size: 14px;
  }

  .emialInputField input:focus + label,
  .emialInputField input:valid + label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 4px;
  }

  .resetPassButton,
  .backToLoginButton {
    width: 18.75rem;
    font-size: 0.9rem;
  }

  .backToLoginButton i {
    width: 20px;
  }
}
