.formOuterContainer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  animation: none;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hiddenAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formInnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1.25rem #fdd133;
  border-radius: 1.5rem;
  padding: 1rem;
  flex-direction: column;
}

.formContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formTitle {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #e3dede;
  font-weight: 500;
  margin: 1rem;
}

.inputField {
  position: relative;
  width: 21.875rem;
  margin: 1rem;
}

.inputField input {
  width: 100%;
  padding: 0.75rem 0.625rem;
  font-size: 1rem;
  border: 0.125rem solid #fdd133;
  background: transparent;
  border-radius: 0.3125rem;
  outline: none;
  color: aliceblue;
}

.inputField label {
  position: absolute;
  left: 0.9375rem;
  top: 0.75rem;
  color: #d7d1d1;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease all;
}

.inputField input:focus + label,
.inputField input:valid + label {
  top: -0.625rem;
  left: 0.5rem;
  font-size: 1rem;
  color: #d7d1d1;
  background: #10161b;
  padding: 0 0.25rem;
}

input[type="checkbox"] {
  accent-color: #babc47d6;
}

.rememberMeContainer {
  font-family: "Poppins", sans-serif;
  color: #d7d1d1;
  font-size: 0.9rem;
}

.forgotPasswordLink {
  font-family: "Poppins", sans-serif;
  color: #fdd133;
  font-size: 0.9rem;
  cursor: pointer;
}

.forgotPasswordLink:hover {
  color: #e6b400;
}

.rememberMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.rememberForgotContainer {
  width: 21.875rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.logInButton {
  background-color: #fbd033;
  color: #10161b;
  width: 21.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.logInButton:hover,
.resetPassButton:hover,
.backToLoginButton:hover,
.signUpButton:hover {
  background: #f1fb33;
}

.orContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  width: 21.875rem;
  margin: 1.25rem 0;
}

.orContainer .line {
  flex: 1;
  height: 0.0625rem;
  background: #d7d1d1;
}

.orContainer .orText {
  font-size: 0.875rem;
  color: #d7d1d1;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
}

.socialLoginContainer {
  width: 21.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.googleAuthBox,
.appleAuthBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  border: 0.125rem solid #d7d1d1;
  padding: 0.5rem;
  border-radius: 1.5rem;
  width: 100%;
  height: 2.8125rem;
  cursor: pointer;
}

.googleAuthBox:hover,
.appleAuthBox:hover {
  background-color: #e0dfde3e;
}

.authName {
  font-size: 1rem;
  color: #d7d1d1;
}

.authIcon img {
  width: 1.5625rem;
}

.signUpOption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
  gap: 0.5rem;
}

.signUpText {
  font-size: 1rem;
  color: #d7d1d1;
}

.singUplink {
  cursor: pointer;
  font-size: 1rem;
  color: #fdd133;
}

/* Mobile breakpoint  */

@media (max-width: 600px) {
  .formOuterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
  }

  .formInnerContainer {
    padding: 0.5rem;
  }

  .formTitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem;
  }

  .inputField {
    position: relative;
    width: 15.625rem;
    margin: 0.5rem;
  }

  .inputField input {
    width: 100%;
    font-size: 0.75rem;
  }

  .inputField label {
    font-size: 0.75rem;
  }

  .inputField input:focus + label,
  .inputField input:valid + label {
    font-size: 0.75rem;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 0.25rem;
  }

  input[type="checkbox"] {
    transform: scale(0.9);
    accent-color: #babc47d6;
  }

  .rememberMeContainer {
    font-family: "Poppins", sans-serif;
    color: #d7d1d1;
    font-size: 0.6rem;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .rememberForgotContainer {
    display: flex;
    width: 15.625rem;
    justify-content: space-between;
  }

  .forgotPasswordLink {
    font-size: 0.7rem;
    line-height: 1.3;
    cursor: pointer;
  }

  .logInButton {
    width: 15.625rem;
    font-size: 0.9rem;
  }

  .orContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 15.625rem;
    margin: 0.5rem;
  }

  .orContainer .orText {
    font-size: 0.5rem;
    color: #d7d1d1;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
  }

  .socialLoginContainer {
    width: 15.625rem;
    gap: 0.5rem;
  }

  .googleAuthBox,
  .appleAuthBox {
    gap: 0.5rem;
    border: 0.125rem solid #d7d1d1;
    border-radius: 1.5rem;
    width: 100%;
    height: 2.1875rem;
  }

  .authName {
    font-size: 0.6rem;
    color: #d7d1d1;
  }

  .authIcon img {
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signUpOption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    margin-top: 1rem;
    gap: 0.2rem;
  }

  .signUpText {
    font-size: 0.8rem;
    color: #d7d1d1;
  }

  .singUplink {
    cursor: pointer;
    font-size: 0.7rem;
    color: #fdd133;
  }
}

/* Tablet breakpoint */

@media (min-width: 601px) and (max-width: 1024px) {
  .formOuterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
  }

  .formInnerContainer {
    padding: 0.5rem;
  }

  .formTitle {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0.5rem;
  }

  .inputField {
    position: relative;
    width: 18.75rem;
    margin: 0.5rem;
  }

  .inputField input {
    width: 100%;
    font-size: 0.75rem;
  }

  .inputField label {
    font-size: 0.875rem;
  }

  .inputField input:focus + label,
  .inputField input:valid + label {
    font-size: 0.75rem;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 0.25rem;
  }

  input[type="checkbox"] {
    transform: scale(1.2);
    accent-color: #babc47d6;
  }

  .rememberMeContainer {
    font-family: "Poppins", sans-serif;
    color: #d7d1d1;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .rememberForgotContainer {
    display: flex;
    width: 18.75rem;
    justify-content: space-between;
  }

  .forgotPasswordLink {
    font-size: 0.9rem;
    line-height: 1.3;
    cursor: pointer;
  }
  .logInButton {
    width: 18.75rem;
    font-size: 0.9rem;
  }

  .orContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 18.75rem;
    margin: 0.5rem;
  }

  .orContainer .orText {
    font-size: 0.75rem;
    color: #d7d1d1;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
  }

  .socialLoginContainer {
    width: 18.75rem;
    gap: 0.5rem;
  }

  .googleAuthBox,
  .appleAuthBox {
    gap: 0.5rem;
    border: 0.125rem solid #d7d1d1;
    border-radius: 1.5rem;
    width: 100%;
    height: 2.1875rem;
  }

  .authName {
    font-size: 0.6rem;
    color: #d7d1d1;
  }

  .authIcon img {
    width: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signUpOption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    margin-top: 1rem;
    gap: 0.2rem;
  }

  .signUpText {
    font-size: 1rem;
    color: #d7d1d1;
  }

  .singUplink {
    cursor: pointer;
    font-size: 1rem;
    color: #fdd133;
  }
}
