.formOuterContainer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  visibility: hidden;
  animation: none;
}

@keyframes opacityAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hiddenAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.formInnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px #fdd133;
  border-radius: 1.5rem;
  padding: 1rem;
  flex-direction: column;
}

.formContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formTitle {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #e3dede;
  font-weight: 500;
  margin: 1rem;
}

.inputField {
  position: relative;
  width: 350px;
  margin: 16px;
}

.inputField input {
  width: 100%;
  padding: 12px 10px;
  font-size: 1rem;
  border: 2px solid #fdd133;
  background: transparent;
  border-radius: 5px;
  outline: none;
  color: aliceblue;
}

.inputField label {
  position: absolute;
  left: 15px;
  top: 12px;
  color: #d7d1d1;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease all;
}

.inputField input:focus + label,
.inputField input:valid + label {
  top: -10px;
  left: 8px;
  font-size: 16px;
  color: #d7d1d1;
  background: #10161b;
  padding: 0 4px;
}

input[type="checkbox"] {
  accent-color: #babc47d6;
}

.rememberMeContainer {
  font-family: "Poppins", sans-serif;
  color: #d7d1d1;
  font-size: 0.9rem;
}

.forgotPasswordLink {
  font-family: "Poppins", sans-serif;
  color: #fdd133;
  font-size: 0.9rem;
  cursor: pointer;
}

.forgotPasswordLink:hover {
  color: #e6b400;
}

.rememberMeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.rememberForgotContainer {
  width: 350px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}

.logInButton {
  background-color: #fbd033;
  color: #10161b;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.logInButton:hover,
.resetPassButton:hover,
.backToLoginButton:hover {
  background: #f1fb33;
}

.orContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 350px;
  margin: 20px 0;
}

.orContainer .line {
  flex: 1;
  height: 1px;
  background: #d7d1d1;
}

.orContainer .orText {
  font-size: 14px;
  color: #d7d1d1;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.socialLoginContainer {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.googleAuthBox,
.appleAuthBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
  border: 2px solid #d7d1d1;
  padding: 0.5rem;
  border-radius: 1.5rem;
  width: 100%;
  height: 45px;
  cursor: pointer;
}

.googleAuthBox:hover,
.appleAuthBox:hover {
  background-color: #e0dfde3e;
}

.authName {
  font-size: 1rem;
  color: #d7d1d1;
}

.authIcon img {
  width: 25px;
}

.signUpOption {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0.5rem;
  gap: 0.5rem;
}

.signUpText {
  font-size: 1rem;
  color: #d7d1d1;
}

.singUplink {
  cursor: pointer;
  font-size: 1rem;
  color: #fdd133;
}

/* Mobile breakpoint  */

@media (max-width: 600px) {
  .formOuterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 16px;
  }

  .formInnerContainer {
    padding: 0.5rem;
  }

  .formTitle {
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0.5rem;
  }

  .inputField {
    position: relative;
    width: 250px;
    margin: 8px;
  }

  .inputField input {
    width: 100%;
    font-size: 12px;
  }

  .inputField label {
    font-size: 12px;
  }

  .inputField input:focus + label,
  .inputField input:valid + label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 4px;
  }

  input[type="checkbox"] {
    transform: scale(0.9);
    accent-color: #babc47d6;
  }

  .rememberMeContainer {
    font-family: "Poppins", sans-serif;
    color: #d7d1d1;
    font-size: 0.6rem;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .rememberForgotContainer {
    display: flex;
    width: 250px;
    justify-content: space-between;
  }

  .forgotPasswordLink {
    font-size: 0.7rem;
    line-height: 1.3;
    cursor: pointer;
  }
  .logInButton {
    width: 250px;
    font-size: 0.9rem;
  }

  .orContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 250px;
    margin: 8px;
  }

  .orContainer .orText {
    font-size: 8px;
    color: #d7d1d1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .socialLoginContainer {
    width: 250px;
    gap: 0.5rem;
  }

  .googleAuthBox,
  .appleAuthBox {
    gap: 0.5rem;
    border: 2px solid #d7d1d1;
    border-radius: 1.5rem;
    width: 100%;
    height: 35px;
  }

  .authName {
    font-size: 0.6rem;
    color: #d7d1d1;
  }

  .authIcon img {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signUpOption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    margin-top: 1rem;
    gap: 0.2rem;
  }

  .signUpText {
    font-size: 0.8rem;
    color: #d7d1d1;
  }

  .singUplink {
    cursor: pointer;
    font-size: 0.7rem;
    color: #fdd133;
  }
}

/* Tablet breakpoint */

@media (min-width: 601px) and (max-width: 1024px) {
  .formOuterContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 16px;
  }

  .formInnerContainer {
    padding: 0.5rem;
  }

  .formTitle {
    font-size: 1.9rem;
    font-weight: 500;
    margin: 0.5rem;
  }

  .inputField {
    position: relative;
    width: 300px;
    margin: 8px;
  }

  .inputField input {
    width: 100%;
    font-size: 12px;
  }

  .inputField label {
    font-size: 14px;
  }

  .inputField input:focus + label,
  .inputField input:valid + label {
    top: -10px;
    left: 8px;
    font-size: 12px;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 4px;
  }

  input[type="checkbox"] {
    transform: scale(1.2);
    accent-color: #babc47d6;
  }

  .rememberMeContainer {
    font-family: "Poppins", sans-serif;
    color: #d7d1d1;
    font-size: 0.9rem;
    display: flex;
    justify-content: flex-start;
    width: 50%;
  }

  .rememberForgotContainer {
    display: flex;
    width: 300px;
    justify-content: space-between;
  }

  .forgotPasswordLink {
    font-size: 0.9rem;
    line-height: 1.3;
    cursor: pointer;
  }
  .logInButton {
    width: 300px;
    font-size: 0.9rem;
  }

  .orContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 300px;
    margin: 8px;
  }

  .orContainer .orText {
    font-size: 12px;
    color: #d7d1d1;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .socialLoginContainer {
    width: 300px;
    gap: 0.5rem;
  }

  .googleAuthBox,
  .appleAuthBox {
    gap: 0.5rem;
    border: 2px solid #d7d1d1;
    border-radius: 1.5rem;
    width: 100%;
    height: 35px;
  }

  .authName {
    font-size: 0.6rem;
    color: #d7d1d1;
  }

  .authIcon img {
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .signUpOption {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
    margin-top: 1rem;
    gap: 0.2rem;
  }

  .signUpText {
    font-size: 1rem;
    color: #d7d1d1;
  }

  .singUplink {
    cursor: pointer;
    font-size: 0.7rem;
    color: #fdd133;
  }
}
