.signUpFormContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.signUpFormTitle {
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  color: #e3dede;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.inputFieldContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-display: row;
  width: fit-content;
  height: fit-content;
  margin: 0;
  padding: 0;
}

.firstName,
.lastName {
  position: relative;
  width: 10rem;
  margin: 1rem;
}

.firstName input,
.lastName input,
.signUpFormInputField input {
  width: 100%;
  padding: 0.75rem 0.625rem;
  font-size: 1rem;
  border: 0.125rem solid #fdd133;
  background: transparent;
  border-radius: 0.3125rem;
  outline: none;
  color: aliceblue;
}

.firstName label,
.lastName label,
.signUpFormInputField label {
  position: absolute;
  left: 0.9375rem;
  top: 0.75rem;
  color: #d7d1d1;
  font-size: 1rem;
  pointer-events: none;
  transition: 0.3s ease all;
}

.firstName input:focus + label,
.firstName input:valid + label,
.lastName input:focus + label,
.lastName input:valid + label,
.signUpFormInputField input:focus + label,
.signUpFormInputField input:valid + label {
  top: -0.625rem;
  left: 0.5rem;
  font-size: 1rem;
  color: #d7d1d1;
  background: #10161b;
  padding: 0 0.25rem;
}

.signUpFormInputField {
  position: relative;
  width: 21.875rem;
  margin: 1rem;
}

.signUpButton {
  background-color: #fbd033;
  color: #10161b;
  width: 21.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-top: 0.5rem;
  border-radius: 0.3rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.loginRedirectContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 1rem;
}

.AlreadyAccount {
  font-size: 1rem;
  color: #d7d1d1;
}

.loginLinkContainer {
  cursor: pointer;
  font-size: 1rem;
  color: #fdd133;
  margin: 0.2rem;
}

@media (max-width: 600px) {
  .signUpFormTitle {
    font-size: 1.4rem;
  }

  .firstName,
  .lastName {
    position: relative;
    width: 6.875rem;
    margin: 0.5rem;
  }

  .firstName label,
  .lastName label,
  .signUpFormInputField label {
    position: absolute;
    left: 0.9375rem;
    top: 0.75rem;
    color: #d7d1d1;
    font-size: 0.875rem;
    pointer-events: none;
    transition: 0.3s ease all;
  }

  .firstName input:focus + label,
  .firstName input:valid + label,
  .lastName input:focus + label,
  .lastName input:valid + label,
  .signUpFormInputField input:focus + label,
  .signUpFormInputField input:valid + label {
    top: -0.625rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 0.25rem;
  }

  .signUpFormInputField {
    position: relative;
    width: 15rem;
    margin: 0.5rem;
  }

  .signUpButton {
    width: 15rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .loginRedirectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
  }
  .AlreadyAccount {
    font-size: 0.8rem;
    color: #d7d1d1;
  }

  .loginLinkContainer {
    cursor: pointer;
    font-size: 0.8rem;
    color: #fdd133;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .signUpFormTitle {
    font-size: 1.8rem;
  }

  .firstName,
  .lastName {
    position: relative;
    width: 8.75rem;
    margin: 0.5rem;
  }

  .firstName label,
  .lastName label,
  .signUpFormInputField label {
    position: absolute;
    left: 0.9375rem;
    top: 0.75rem;
    color: #d7d1d1;
    font-size: 0.875rem;
    pointer-events: none;
    transition: 0.3s ease all;
  }

  .firstName input:focus + label,
  .firstName input:valid + label,
  .lastName input:focus + label,
  .lastName input:valid + label,
  .signUpFormInputField input:focus + label,
  .signUpFormInputField input:valid + label {
    top: -0.625rem;
    left: 0.5rem;
    font-size: 0.75rem;
    color: #d7d1d1;
    background: #10161b;
    padding: 0 0.25rem;
  }

  .signUpFormInputField {
    position: relative;
    width: 18.75rem;
    margin: 0.5rem;
  }

  .signUpButton {
    width: 18.75rem;
    margin-top: 0.5rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }

  .loginRedirectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0.5rem;
  }
  .AlreadyAccount {
    font-size: 1rem;
    color: #d7d1d1;
  }

  .loginLinkContainer {
    cursor: pointer;
    font-size: 1rem;
    color: #fdd133;
  }
}
